<header class="intro-header text-center album-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img src="~/Content/img/logo.png" />
                </div>
            </div>
        </div>
    </div>
</header>