@{
    ViewBag.Title = "Companies";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@Html.ActionLink("Create new company", "CreateNewCompany", "Companies")
@Html.ActionLink("View registered companies", "ViewRegisteredCompanies", "Companies")

