@model IList<AAS.Models.Company>
@*TODO: Use view model*@
@{
    ViewBag.Title = "Manage";
}

@Html.Partial("_PageHeader")

<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <label for="companyDdl" class="control-label">Select company</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("myCompanies", ViewData["country"] as List<SelectListItem>, new { id = "companyDdl", @class = "form-control" })
            <button class="btn btn-default" id="mng">Manage</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#mng").on('click', function () {
            var url = '../CompanyManagment/Company/ManageMyCompany/' + $("#companyDdl").val();
            window.location = url;
        });
    </script>
}