@model AAS.Web.Models.CompanyInputModel

<h2>CreateNewCompany</h2>

@using (Html.BeginForm("CreateNewCompany", "Company", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" />    
    //or this way:
    // @Html.TextBoxFor(m => m.Name, new { @class = "rndClass"})             
}