@model AAS.Web.Areas.CompanyManagment.Models.Sale.NewSaleInputModel

<div id="searchFormWrapper" class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Panel primary</h3>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Search",
                new AjaxOptions
                {
                    UpdateTargetId = "clientDdl",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="query" />
            <input type="submit" />
        }
        <div id="results">
        </div>
    </div>
</div>