<h2>Navigation</h2>

@Html.ActionLink("View registered users", "ViewRegisteredUsers", "Home", null, new { @class = "btn btn-default" })

<a href="">View owners</a>

@*@Html.Kendo().DatePickerFor(m => m).Name("dateTimePicker")*@

@*@Html.Kendo().Calendar().Name("calendar")
<button id="asd">Click me</button>*@

@*<script>
    $('#asd').on('click', function () {
        var calendar = $("#calendar").data("kendoCalendar");

        console.log($("#calendar"));

        console.log(calendar.value());
    })
</script>*@