<h2>Navigation</h2>

@Html.ActionLink("View registered users", "ViewUsers", "Home", null, new { @class = "btn btn-default" })
@Html.ActionLink("View registered clients", "ViewClients", "Home", null, new { @class = "btn btn-default" })
@Html.ActionLink("View registered companies", "ViewCompanies", "Home", null, new { @class = "btn btn-default" })

