@using AAS.Web.Areas.Administration.Models
@model IList<ClientsViewModel>
@{
    const string ControllerName = "ClientGrid";
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

@(Html.Kendo()
      .Grid<ClientsViewModel>()
      .Name("Grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id);
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Adress);
          cols.Bound(pr => pr.Bulstat);
          cols.Bound(pr => pr.IsDeleted);
          cols.Bound(pr => pr.CreatedOn);
          cols.Bound(pr => pr.ModifiedOn);
          cols.Command(com => com.Edit()).Title("Промяна");
          cols.Command(com => com.Destroy()).Title("Изтриване");
      })
      .ColumnMenu()
        .Pageable()
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(edit => edit.Mode(GridEditMode.PopUp))
        .ToolBar(toolbar => toolbar.Create())
        .DataSource(data => data
        .Ajax()
        .Model(m => m.Id(adv => adv.Id))
                        .Read(read => read.Action("Read", ControllerName))
                        .Create(create => create.Action("Create", ControllerName))
                        .Update(update => update.Action("Update", ControllerName))
                        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))